@import "tailwindcss";

@theme {
  /* Configuração da Paleta de Cores 'Preto de Luxo' */
  --color-brand-black: #050505;
  --color-brand-dark: #0a0a0a;
  --color-brand-silver: #e5e7eb;
  --color-brand-gold: #d4af37;
  --color-brand-muted: #525252;

  /* Configuração da Tipografia */
  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-inter), sans-serif;
}

@layer base {
  body {
    @apply bg-brand-black text-brand-silver overflow-x-hidden antialiased;
  }

  /* Custom Selection */
  ::selection {
    @apply bg-brand-silver text-brand-black;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-brand-dark;
  }
  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@layer utilities {
  /* Texturas Metálicas para Divisórias (Bordas) */
  .bg-metal-gold {
    background: linear-gradient(90deg, transparent 0%, rgba(212, 175, 55, 0.6) 50%, transparent 100%);
  }
  
  .bg-metal-silver {
    background: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.3) 50%, transparent 100%);
  }
  
  .bg-metal-rhodium {
    background: linear-gradient(90deg, transparent 0%, rgba(82, 82, 91, 0.8) 50%, transparent 100%);
  }
}